{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block css %}
    {{ block.super }}
    <style>
        main {
            max-width: 600px;
            margin: 0 auto;
        }

        h2 {
            color: #3498db;
            text-align: center;
            margin-bottom: 30px;
        }

        .card {
            max-width: 500px;
            margin: 0 auto;
            padding: 30px;
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            margin-bottom: 8px;
            display: block;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            max-width: 500px;
            padding: 12px;
            margin-bottom: 12px;
            border-radius: 5px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            transition: border 0.3s ease;
        }

        input[type="text"]:focus,
        input[type="email"]:focus,
        input[type="password"]:focus {
            border-color: #3498db;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: #3498db;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button:hover {
            background-color: #2980b9;
        }

        .alert {
            margin-bottom: 20px;
        }
    </style>
{% endblock css %}

{% block content %}
  <div class="container">
    <div class="card">
        <h2>Register</h2>
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ form.errors }}
            </div>
        {% endif %}
        <form method="post" action="{% url 'user_register' %}">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <div class="form-group">
                <label>User Type</label>
                {{ form.usertype }}
            </div>
            <button type="submit">Register</button>
        </form>
        
    </div>
  </div>
{% endblock %}
